# Created by venv; see https://docs.python.org/3/library/venv.html
*
nothing.md
librdkafka
get-pip.py
lib

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Other
workshop.yaml
**/.terraform_staging/*
.DS_Store
*.log
bin

# Enrionment specific configuration files
.env
TODO
workshop_details.out
workshops/*
.workshop
.venv
pyenv.cfg
